@layer components {
  .pattern-box {
    --line: #fbfff7;
    --size: 10px;
    background-image: repeating-linear-gradient(135deg, var(--line) 0, var(--line) 1px, transparent 0, transparent 50%);
    background-size: var(--size) var(--size);
    background-color: hsl(85 65% 62% / 0.8);
    border-radius: 8px;
    transition: background-color 0.2s ease-in-out;
    &:hover {
      background-color: hsl(85 62% 50% / 0.8);
    }
  }
  .demo-box {
    font-size: 14px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #348ff0;
  }
  .main-container {
    max-width: 54%;
    margin-inline: auto;
    padding: 20px 0;
  }
  .demo-code-container {
    background-color: white;
    border-radius: 8px;
    border: 1px solid #eaeaea;
    padding: 6px;
    .demo {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #e4e4e4;
      border-radius: 3px;
      min-height: 160px;
    }
    .code {
      margin-top: 8px;
      display: block;
      overflow: hidden;
      border-radius: 3px;
      box-shadow: 0 0 0 2px hsl(0deg 0% 80% / 38%);
      padding: 14px 16px;
      background-color: #f8f8f8;
    }
  }
  .table {
    width: 100%;
    table-layout: auto;
    border-spacing: 0;
    border-radius: 8px;
    border-collapse: collapse;
    thead {
      border-bottom: 1px solid #f2f2f2;
    }
    th {
      padding: 10px;
      font-size: 14px;
      position: relative;
      font-weight: 500;
      text-align: start;
      font-weight: bold;
      font-size: 1rem;
    }
    tr:not(:last-child) {
      border-bottom: 1px solid #f2f2f2;
    }
    tbody tr td:first-child {
      color: #348ff0;
    }
    tbody tr td:last-child {
      color: #901ec4;
    }
    td {
      padding: 12px;
      font-size: 14px;
    }
  }
}
