@layer components {
  .home {
    max-width: 54%;
    margin-inline: auto;
    padding: 0 20px;
    overflow: hidden;
    height: 100vh;
    @media (max-width: 640px) {
      max-width: 100%;
      padding: 0 16px;
    }
  }
  .main-container {
    width: 92%;
    max-width: 1440px;
    margin-inline: auto;
    padding-bottom: 24px;
    position: relative;
    display: grid;
    grid-template-columns: minmax(max-content, 240px) 1fr minmax(max-content, 240px);
    gap: 16px;
    overflow: hidden;
    @media (max-width: 928px) {
      width: 100%;
      padding: 0 16px;
      display: block;
    }
  }

  .table {
    width: 100%;
    table-layout: auto;
    border-spacing: 0;
    border-radius: 8px;
    border-collapse: collapse;
    thead tr {
      border-top: 0;
    }
    th {
      padding: 10px;
      font-size: 14px;
      position: relative;
      font-weight: 500;
      text-align: start;
      font-weight: bold;
      font-size: 1rem;
    }
    tr {
      border-top: 1px solid #f1e3e3;
    }
    tr:not(:last-child) {
      border-bottom: 1px solid #f1e3e3;
    }
    tbody tr td:first-child {
      color: #348ff0;
    }
    tbody tr td:last-child {
      color: #901ec4;
    }
    td {
      padding: 12px;
      font-size: 14px;
    }
  }
  .button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: white;
    height: 40px;
    padding: 0 16px;
    border: 0;
    border-radius: 12px;
    background-color: #348ff0;
    text-decoration: none;
    corner-shape: superellipse(1.3);
    transition: background-color 0.2s ease;
    &:hover {
      background-color: #2e80d7;
    }
    &:active {
      background-color: #2c77c8;
    }
    &:focus-visible {
      outline: 2px solid #348ff0;
      outline-offset: 2px;
    }
  }
}
