@import '../css/index.css';

/* custom css */
@import './components.css';

*:not(:defined) {
  visibility: hidden;
}
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  min-height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
}
