@import '../css/index.css';

/* custom css */
@import './components.css';

@layer theme {
  :root {
    --primary-color: #348ff0;
  }
}

*:not(:defined) {
  visibility: hidden;
}
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  min-height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
}

.gradient-bg::after {
  content: '';
  position: fixed;
  inset: 0;
  z-index: -1;
  background-image: radial-gradient(circle at 30% 70%, rgba(173, 216, 230, 0.35), transparent 60%), radial-gradient(circle at 70% 30%, rgba(255, 182, 193, 0.4), transparent 60%);
}
