@layer base, components, utilities;
@import '../css/border.css';
@import '../css/color.css';
@import '../css/layout.css';
@import '../css/size.css';
@import '../css/spacing.css';
@import '../css/typography.css';

/* custom css */
@import './components.css';

*:not(:defined) {
  visibility: hidden;
}
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  min-height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  background-image: linear-gradient(to right, #e5e7eb 1px, transparent 1px),
    linear-gradient(to bottom, #e5e7eb 1px, transparent 1px);
  background-size: 40px 40px;
}
