[display] {
  display: attr(display type(*));
}
[position] {
  position: attr(position type(*));
}
[bottom] {
  --attr-bottom: calc(attr(bottom number) * var(--spacing));
  bottom: var(--attr-bottom, attr(bottom type(*)));
}
