[w='full'] {
  width: 100%;
}
[w='screen'] {
  width: 100vw;
}
[w]:not([w='full'], [w='screen']) {
  --attr-w: attr(w px);
  width: var(--attr-w, attr(w type(*)));
}
[h] {
  --attr-h: attr(h px);
  height: var(--attr-h, attr(h type(*)));
}
[max-w] {
  --attr-max-w: attr(max-w px);
  max-width: var(--attr-max-w, attr(max-w type(*)));
}
[max-h] {
  --attr-max-h: attr(max-h px);
  max-height: var(--attr-max-h, attr(max-h type(*)));
}
[size] {
  --attr-size: attr(size px);
  width: var(--attr-size, attr(size type(*)));
  height: var(--attr-size, attr(size type(*)));
}
