/* margin */
[m] {
  --attr-m: calc(attr(m number) * var(--spacing));
  margin: var(--attr-m, attr(m type(*)));
}
[mx='auto'] {
  margin-inline: auto;
}
[mx]:not([mx='auto'], [m='px']) {
  --attr-mx: calc(attr(mx number) * var(--spacing));
  margin-inline: var(--attr-mx, attr(mx type(*)));
}
[my] {
  --attr-my: calc(attr(my number) * var(--spacing));
  margin-block: var(--attr-my, attr(my type(*)));
}
[ml] {
  --attr-ml: calc(attr(ml number) * var(--spacing));
  margin-left: var(--attr-ml, attr(ml type(*)));
}
[mr] {
  --attr-mr: calc(attr(mr number) * var(--spacing));
  margin-right: var(--attr-mr, attr(mr type(*)));
}
[mt] {
  --attr-mt: calc(attr(mt number) * var(--spacing));
  margin-top: var(--attr-mt, attr(mt type(*)));
}
[mb] {
  --attr-mb: calc(attr(mb number) * var(--spacing));
  margin-bottom: var(--attr-mb, attr(mb type(*)));
}
[space-x] {
  --attr-calc-space-x: calc(attr(space-x number) * var(--spacing));
  --attr-space-x: var(--attr-calc-space-x, attr(space-x type(*)));
  & > :not(:last-child) {
    margin-inline-end: var(--attr-space-x);
  }
}
[space-y] {
  --attr-calc-space-y: calc(attr(space-y number) * var(--spacing));
  --attr-space-y: var(--attr-calc-space-y, attr(space-y type(*)));
  & > :not(:last-child) {
    margin-block-end: var(--attr-space-y);
  }
}

/* padding */
[p] {
  --attr-p: calc(attr(p number) * var(--spacing));
  padding: var(--attr-p, attr(p type(*)));
}
[py] {
  --attr-py: calc(attr(py number) * var(--spacing));
  padding-block: var(--attr-py, attr(py type(*)));
}
[px] {
  --attr-px: calc(attr(px number) * var(--spacing));
  padding-inline: var(--attr-px, attr(px type(*)));
}
[pt] {
  --attr-pt: calc(attr(pt number) * var(--spacing));
  padding-top: var(--attr-pt, attr(pt type(*)));
}
[pb] {
  --attr-pb: calc(attr(pb number) * var(--spacing));
  padding-bottom: var(--attr-pb, attr(pb type(*)));
}
[pl] {
  --attr-pl: calc(attr(pl number) * var(--spacing));
  padding-left: var(--attr-pl, attr(pl type(*)));
}
[pr] {
  --attr-pr: calc(attr(pr number) * var(--spacing));
  padding-right: var(--attr-pr, attr(pr type(*)));
}
