/* font-size */
[text] {
  --attr-text: attr(text px);
  font-size: var(--attr-text, attr(text type(*)));
}
/* font-weight */
[weight] {
  font-weight: attr(weight type(*));
}
[text-align] {
  text-align: attr(text-align type(*));
}
