/* font-size */
[font-size] {
  --attr-font-size: attr(font-size px);
  font-size: var(--attr-font-size, attr(font-size type(*)));
}
/* font-weight */
[weight] {
  font-weight: attr(weight type(*));
}
[text-align] {
  text-align: attr(text-align type(*));
}
[text-wrap] {
  --attr-text-wrap: attr(text-wrap type(*));
  text-wrap: var(--attr-text-wrap, attr(text-wrap type(*)));
}
