/* font-size */
[text='xs'] {
  font-size: 0.75rem;
  line-height: calc(1 / 0.75);
}
[text='sm'] {
  font-size: 0.875rem;
  line-height: calc(1.25 / 0.875);
}
[text='base'] {
  font-size: 1rem;
  line-height: 1.5;
}
[text='lg'] {
  font-size: 1.125rem;
  line-height: calc(1.75 / 1.125);
}
[text='xl'] {
  font-size: 1.25rem;
  line-height: calc(1.75 / 1.25);
}
[text='2xl'] {
  font-size: 1.5rem;
  line-height: calc(2 / 1.5);
}
[text='3xl'] {
  font-size: 1.875rem;
  line-height: calc(2.25 / 1.875);
}
[text='4xl'] {
  font-size: 2.25rem;
  line-height: calc(2.5 / 2.25);
}
[text='5xl'] {
  font-size: 3rem;
  line-height: 1;
}
[text='6xl'] {
  font-size: 3.75rem;
  line-height: 1;
}
[text='7xl'] {
  font-size: 4.5rem;
  line-height: 1;
}
[text='8xl'] {
  font-size: 6rem;
  line-height: 1;
}
[text='9xl'] {
  font-size: 8rem;
  line-height: 1;
}

[text]:not(
    [text='xs'],
    [text='sm'],
    [text='base'],
    [text='lg'],
    [text='xl'],
    [text='2xl'],
    [text='3xl'],
    [text='4xl'],
    [text='5xl'],
    [text='6xl'],
    [text='7xl'],
    [text='8xl'],
    [text='9xl']
  ) {
  --attr-text: attr(text px);
  font-size: var(--attr-text, attr(text type(*)));
}
/* font-weight */
[weight] {
  font-weight: attr(weight type(*));
}
[text-align] {
  text-align: attr(text-align type(*));
}
